<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTC2TpnWXc603XVlN4XpwbL8bdXUSGGjtPjlg&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="empirior" loading="lazy">
        Empirior
      </a>

    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" style="margin-top: 10px;">
                    <button class="btn btn-dranger dropdown-toggle" type="button" data-toggle="dropdown">Specail
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="party">Party booking</a></li>
                      <li><a href="resert">Reservation</a></li>
                    </ul>
                </li>
        
                <li><a href="about"> About</a></li>
                <li><a href="/logout" class="btn btn-danger active" role="button" style="margin-top:12px; padding:5px;"> Logout</a></li>
            </ul>
        </div>
    </div>
</div>