<center>
<div class="container">
    <div class="row">
        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Kosha-Mangsho-1.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">West Bengal – Kosha Mangsho</h4>
                <p class="card-text">A VELVETY GRAVY WITH JUICY PIECES OF MEAT SERVED WITH MAIDA LUCHI (POORIS)</p>
                <p class="card-text">₹ 20/-</p>
              </div>
        </div>

        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Misal-Pav.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Misal Pav</h4>
                <p class="card-text">MISAL PAV – A WATER BASED CURRIED PREPARATION OF COOKED SPROUTED LENTILS, SERVED WITH PAV AND LEMON WEDGES</p>
                <p class="card-text">₹ 40/-</p>
              </div>
        </div>

        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Sarson-Da-Saag.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Makki Di Roti & Sarson Da Saag</h4>
                <p class="card-text">‘MAKKI ROTI’ IS A CORN MEAL INDIAN BREAD THAT TASTES FABULOUS WITH ‘SARSON SAAG’ – MUSTARD GREEN AND A GLASS OF LASSI.</p>
                <p class="card-text">₹ 50/-</p>
              </div>
        </div>

        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Rogan-Josh.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Kashmir – Rogan Josh</h4>
                <p class="card-text">ROGAN JOSH IS AN AROMATIC LAMB DISH WITH FLAVOURS OF BROWNED ONIONS, VARIOUS SPICES AND YOGHURT. IT IS USUALLY SERVED WITH STEAMED RICE.</p>
                <p class="card-text">₹ 50/-</p>
              </div>
        </div>

        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Pongal.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Tamil nadu – Pongal</h4>
                <p class="card-text">VEG PONGAL IS A RICE LENTIL DISH THAT IS OFTEN PREPARED IN SOUTH INDIAN HOMES AS AN OFFERING TO THE GODDESS. BUT IT IS ALSO A COMFORT FOOD THAT IS VERY EASY TO DIGEST.</p>
                <p class="card-text">₹ 50/-</p>
              </div>
        </div>

        <div class="card col-md-4" style="width:300px; color: white;">
            <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Dhokla.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Gujarat – Dhokla</h4>
                <p class="card-text">DHOKLA IS A VEGETARIAN MADE FROM A FERMENTED BATTER OF RICE AND SPLIT CHICKPEAS. IT IS SERVED AS A SNACK WITH TANGY CHUTNEYS.</p>
                <p class="card-text">₹ 50/-</p>
              </div>
        </div>

    </div>
</div>


<center>
    <div class="container">
        <div class="row">
<div class="card col-md-4" style="width:300px; color: white;">
    <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Bisi-Bele-Bath.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title"> Karnataka – Bisi Bele Bath</h4>
        <p class="card-text">BISI BELE BATH IS A DISH IN WHICH THE SAMBAR DAL AND RICE ARE COOKED TOGETHER WITH TAMARIND AND SPICE POWDERS.</p>
        <p class="card-text">₹ 80/-</p>
      </div>
</div>

<div class="card col-md-4" style="width:300px; color: white;">
    <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Momos.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Sikkim – Momos </h4>
        <p class="card-text">MOMO IS A TYPE OF SOUTH ASIAN DUMPLING THAT IS SERVED WITH A CHILLI BASED DIP.</p>
        <p class="card-text">₹ 80/-</p>
      </div>
</div>

<div class="card col-md-4" style="width:300px; color: white;">
    <img class="card-img-top" src="http://blog.via.com/wp-content/uploads/2016/09/Indian-Delicacies-Kabab.png" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">Uttar Pradesh – Kabab</h4>
        <p class="card-text">KEBABS ARE SIMPLE TREATS MADE OF DEEP FRIED MINCED MEAT.</p>
        <p class="card-text">₹ 60/-</p>
      </div>
</div>

</div>
</div>