<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
<body>
  <%- include('partials/navbar') %>

<div style="margin-top:100px; ">

    <center>
  <div class="container">
  <div class="row">
    <div class="card col-md-4" style="width:300px; color: white;">
      <img class="card-img-top" src="karthik.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Karthik R</h4>
        <p class="card-text">CEO and Founder of Empirior pvt limited. Karthik  is an developer and engineer.</p>
        <a href="#" class="btn btn-dark stretched-link">Sukesh</a>
      </div>
    </div>

    <div class="card col-md-4" style="width:300px; color: white;">
        <img class="card-img-top" src="sukka.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Sukesh shenoy</h4>
          <p class="card-text">Managing Derector and Designer of Empirior pvt limited. Sukesh  is an architect and engineer.</p>
          <a href="#" class="btn btn-dark stretched-link">Sukesh</a>
        </div>
      </div>

      <div class="card col-md-4" style="width:300px; color: white;">
        <img class="card-img-top" src="shiva.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Shiva prasad</h4>
          <p class="card-text">Marketing manager and Designer of Empirior pvt limited. shiva is an developer and engineer.</p>
          <a href="#" class="btn btn-dark stretched-link">Shiva</a>
        </div>
      </div>

    </div>
  </div>
</div>
</center>

<center>
<div class="container">
  <div class="row">
      <div class="card col-md-4" style="width:300px; color: white;">
        <img class="card-img-top" src="pawan.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Pawan pai</h4>
          <p class="card-text">Head cheaf of Empirior pvt limited. pawan  is an best cooker of our industries.</p>
          <p>cheaf contact details no:+91-9988776655</p>
          <a href="#" class="btn btn-dark stretched-link">pawan</a>
        </div>
      </div>
      </div>
</div>
<%- include('partials/footer') %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script
    src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>