<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
<body>
  <%- include('partials/navbar') %>

  <center>
      <div class="container"style=" margin-top:100px">
        <div class="card-body">
            <h1 style="color:white;">Your booking is successfull</h1>
        </div>
      </div>
  </center>
 
  <%- include('partials/footer') %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>