<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Empirior</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='styles.css' />
    <title>Empirior</title>
</head>
<body>
    
    <center>
        <div class="wrapper">
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="username" required><br><br>
                <input type="email" name="useremail" placeholder="user email" required><br><br>
                <input type="password" name="passward" placeholder="passward" required><br><br>
                <input type="checkbox" name="" required>
                <button type="submit" class="btn btn-primary">Submit</button><br><br>
                <a href="login">already user</a>
            </form>
        </div>
    </center>
    

</body>
</html>